main {
    padding: 1em 12em;
}

#loginForm {
	margin: auto;
	width: 50%;
	padding: 70px 0;
}

#loginForm label {
    width: 100%;
    display: block;
    color: var(--sub-heading-color);
    font-size: 22px;
    flex: 1;
}

#loginForm input[type=email], 
#loginForm input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#loginForm button {
	background-color: var(--submit-btn-color);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

#loginForm button:hover {
    background-color: var(--submit-btn-color-hover);
}