main {
    display: flex;
    justify-content: space-between;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.right-section {
    flex: 1;
    padding-left: 20px;
}

.coverBook {
    float: left;
    width: 200px;
    margin-bottom: 15px;
}

.bookTitle, 
.authors {
    color: var(--heading-color);
    font-weight: normal;
}

.bookTitle {
    font-weight: bold;
}

hr {
    color: black;
}

.isbn,
.genres,
.publishInfo, 
.abstract {
    color: var(--sub-heading-color); 
    font-size: 16px;
}

.bookTitle {
    margin: 5px 0px;
    font-size: 32px;
}

.authors {
    margin: 10px 0px;
    font-size: 22px;
}

.btn {
    width: 100%;
    margin-bottom: 10px;
}

.delete-btn {
    margin-right: 0px;
}