main {
    padding: 1em 12em;
}

main h1 {
    color: var(--heading-color);
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.addBookForm {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    width: 100%;
    margin-bottom: 10px;
}

main label {
    width: 100%;
    display: block;
    color: var(--sub-heading-color);
    font-size: 22px;

    flex: 1;
}

main input,
main textarea {
    width: 100%;
    background-color: var(--input-box-color);
    border: var(--input-box-border-color) solid 1px;
    padding: 16px 8px;
    font-size: 20px;

    margin-top: 15px;
    margin-bottom: 25px;
    flex: 2;
}

.input-add {
    width: 85%;
    margin-top: 0px;

    flex: 3;
}

#coverUrlLabel {
    width: 50%;
    display: block;
}

#coverUrlInput {
    width: 75%;
    height: 200px;
}

#coverUrlImgInput {
    float: right;
    height: 280px;
    margin-top: -2px;
    margin-right: -15px;
}

.submit-btn {
    margin: 10px 0px;
    background-color: var(--submit-btn-color);
    width: 101%;
    color: white;
    border: var(--submit-btn-color) solid 1px;
}

.add-btn {
    background-color: var(--add-btn-color);
    color: white;
    border: none;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: -15px;
    cursor: pointer;
    
    float: right;
    align-self: flex-end;
}

.add-btn:hover {
    background-color: var(--add-btn-color-hover);
}

.delete-btn {
    background-color: var(--remove-btn-color);
    color: white;
    border: none;
    margin-right: -15px;
    cursor: pointer;
    
    float: right;
    align-self: flex-end;
}

.delete-btn:hover {
    background-color: var(--remove-btn-color-hover);
}

@media screen and (max-width: 1200px) {
    #coverUrlInput {
        width: 100%;
    }

    #coverUrlImgInput {
        float: none;
        margin-bottom: 25px;
    }

    .input-add {
        width: 100%;
    }

    .delete-btn {
        margin-top: -20px;
        margin-bottom: 15px;
    }

    .delete-btn, 
    .add-btn {
        float: left;
    }
} 
