:root {
    --background-color: #F5F5F5;
    --red-color: #FF5C5C;
    
    --heading-color: #434343;
    --sub-heading-color: #575757;
    
    --input-box-color: #F9F9F9;
    --input-box-border-color: #000000;

    --add-btn-color: #4EE779;
    --remove-btn-color: #FF5353;
    --submit-btn-color: #6694D9;

    /* header dropdown */
    --dropdown-bg-color: #F0F0F0;
    --dropdown-border: #000000;
    --dropdown-bg-color-hover: #f5f5f5; 

    /* footer color */
    --footer-bg-color: #D6D6D6;
    --footer-color: #0C0C0C;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}